/*global*/
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(224, 224, 209);
}

a{
    color: rgb(7, 7, 7);
    text-decoration: none;
}

/* utilities*/
 .container{
    width: 80%;
    margin: 50px auto;
 }
.link-selected{
    color:rgb(219, 77, 77);
    text-decoration: underline;

}
.btn{ 
    background-color: rgb(3, 3, 3);
    color: rgb(254, 255, 255);
    padding:10px;
    text-decoration: none;
}

/*header*/

.site-init{
    height: 150px;
    
}

.navegation-bar{

    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px auto;
    width:80%;
    

}

.menu a{

    margin-right: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    padding:20px;
    
}

header{

    flex-direction: row;
    text-align: right;
    text-align: center;
    color: rgb(14, 13, 13);
    box-shadow: 0 0 5px;
    border-radius: 10px;
    margin: 10px;
    padding-right: 20px;
    background-color: #e9e786;   
}

  /*main dish of the month*/

.dish-month-container{
    display: flex;
    margin: 10px;
    flex-direction:column;
    align-items:center ;
    padding-bottom: 10px;
    
}

.dish-month-img{
    margin: 20px;

}
.dish-month-text h2{
   font-size: 30px;
   text-align: center;
   background-color: white;

}
.dish-month-text p{
    font-size: 14px;
    margin: 10px 0;

}
.dish-month-text .text-flext{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.text-flex p{
 background-color: #f1efe7;
  font-size: 22px;
}
.text-flex p a{
  background-color: rgb(243, 242, 238);  
}
 
/*grid*/

.all-dishes-container{

    width: 85%;
    display:grid;
    margin: 25px;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    background-color: #f1f0ea;
    justify-items: center;
  
}



.dish-1{

    background-color: rgb(245, 180, 59);
    color: rgb(12, 12, 12);
    border-radius:5px;
    box-shadow:0 0 5px;
   
}

.dish-2{

     background-color: #f3ca58;
     color: rgb(12, 12, 12);
     border-radius: 10px;
     box-shadow: 0 0 5px;
    
}

.dish-3{

     background-color: rgb(218, 205, 96);
     color: rgb(12, 12, 12);
     border-radius: 5px;
     box-shadow:0 0 5px;
    
}

.dish-4{

     background-color: #ffbf5f;
     color: rgb(10, 10, 10);
     border-radius:5px;
     box-shadow:0 0 5px;
}

.dish-1 img{
    width: 150px;
    height: 150px;
   
}

.dish-2 img{
    width: 150px;
    height: 150px;
}

.dish-3 img{
    width: 150px;
    height: 150px;
}
.dish-4 img{
    width: 150px;
    height: 150px;
}

.dish-5 img{
    width: 150px;
    height: 150px;
}
.dish-6 img{
    width: 150px;
    height: 150px;
}
/*table menu */

.content-table{
    border: 1px solid ;
    border-collapse: collapse;
    margin:  25px 5px;
    font: size 0.9em;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
    box-shadow:0 0 20px;
    height:250px;
    

}

.content-table thead tr{
    background-color: #cddb8f;
    color:rgb(17, 17, 17);
    text-align: left;
    font-weight: bold;
    height: 40px;
    font-size: 20px;

}s

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid rgb(228, 220, 220);
}

.content-table tbody tr:nth-of-type(even){
    background-color: rgb(207, 245, 247);
}
 .content-table tbody tr:last-of-type{
     border-bottom:5px solid  #cddb8f;
   
 }

 
.error{
    background-color: rgb(227, 233, 238);
    color:rgb(230, 39, 14)
 }

h2{
    text-align: center;
    background-color: rgb(214, 186, 135);
}


.menu{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{
    background-color: rgb(234, 247, 239);
}
img{
 margin-left: 25px;
 align-items: center;
 padding-bottom: 10px;
 border-radius: 15px;
 box-shadow: 0 0 10px;
}

.cart-btn{
    border-radius: 10px;
    background-color: #f3f3ed;
    width: 30px;
    
}


/*gallery*/


.dish-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
   
}
    
.dish1{
padding: 0px auto;
margin: 10px;
box-shadow: 15px #0b0c0c;
border: 1px solid black;
background-color: #f1efe8;
border-radius: 15px;
box-shadow: 0 0 5px ;
text-align: center;
width:300px ;
height:300px ;


}

.dish2{
padding: 0px auto;
margin: 10px;
box-shadow: 0 0 5px ;
border: 1px solid black;
background-color: #dedfd3;
border-radius: 15px;
width: 300px;
height: 300px;
align-content: center;
text-align: center

}
 
.dish3{
padding: 0px auto;
margin: 10px;
box-shadow: 5px #0e0e0c;
border: 1px solid rgb(15, 15, 15);
background-color: #d2d4c6;
border-radius: 15px;
box-shadow: 0 0 5px ;
width: 300px;
height: 300px;
align-content: center;
text-align: center
}
.dish4{
padding: 0px auto;
margin: 10px;
box-shadow: 15px #0b0c0c;
border: 1px solid black;
background-color: #d1d1c2;
border-radius: 15px;
box-shadow: 0 0 5px ;
width: 300px;
height: 300px;
align-content: center;
text-align: center

}

.dish5{
padding: 0px auto;
margin: 10px;
box-shadow: 0 0 5px ;
border: 1px solid black;
background-color: #cdcfc0;
border-radius: 15px;
width: 300px;
height: 300px;
align-content: center;
text-align: center

}
 
.dish6{
padding: 0px auto;
margin: 10px;
box-shadow: 5px #11110f;
border: 1px solid black;
background-color: #d3d3c5;
border-radius: 15px;
box-shadow: 0 0 5px ;
width: 300px;
height: 300px;
align-content: center;
text-align: center;
}
.dish1 img{
    width: 150px;
    height: 150px;
}

.dish2 img{
    width: 150px;
    height: 150px;
}

.dish3 img{
    width: 150px;
    height: 150px;
}

.dish4 img{
    width: 150px;
    height: 150px;
}

.dish5 img{
    width: 150px;
    height: 150px;
}

.dish6 img{
    width: 150px;
    height: 150px;
}

/* to-go*/

.form-flex{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.form-container{
    background-color: white;
    padding:20px;
    border-radius: 10px;
    width: 30%;
}

.form-control{
    margin:10px auto;
}

.form-control input,
.form-control textarea,
.form-control select{
 width:100%;
 padding:3px;
}
 .form-control{
    font-size:12px;
}
 
.pay-container{
    display: flex;
    justify-content: space-between;
    text-align:right;
    padding: 15px;
    margin: 10px;
}
.btn{
    background-color: rgb(235, 232, 230);
    border-radius: 10px;
    color: #0b0c0c;
}


   

/*table view*/

@media((min-width:601px) and (max-width:768px)) {
  html{
    font-size:14px
  } 
  
 
  .all-dishes-container{
    display: grid;
    grid-template-columns: 
    150px 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas: 
    "dish-1"
    "dish-2"
    "dish-3"
    "dish-4";
   } 
   .form-flex{
    flex-direction:column;
    align-content: center;
   }
}


/*phone view*/
@media((max-width:600px)) {
    html{
        font-size: 12px;
    }
    header{
        background-color: rgb(233, 255, 108);
        width: 100%;
    }
    
    .all-dishes-container{
    display: grid;
    
    grid-template-columns: 
    150px 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas: 
    "dish-1"
    "dish-2"
    "dish-3"
    "dish-4";
    } 
}

/* desktop view*/
html{
    font-size: 16px;
}



